body {
  /* background-image: url("imgs/body_bg.jpg"); */
}
.brands {
 
  padding-top: 100px;
  padding-bottom: 200px;
}
.why {
  background: #262626;
  padding-top: 50px;
  padding-bottom: 50px;
}
#main {
  padding-top:10%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("imgs/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 10%;
  padding-bottom:10%;
}
.circle-img {
  width: 250px;
  height: 250px;
  overflow: hidden;
}

.circle-img img {
  height: 100%;
  transform: translateX(-50%);
  margin-left: 50%;
}

#footer {
  background-color: black;
  color: white;
}

section {
  background-color: #9427b0;
  color: white;
  height: 20rem;
}

#who {
  background-color: #21c2af;
  color: white;
  margin-bottom: 0;
  line-height: 2rem;
}
#who i{
  line-height: 5rem;
  font-size: x-large;
}
#j1 {
  background-image: url("imgs/teaching.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

#j2 {
  background-image: url("imgs/invest.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /*background-position: 10px;*/
  color: white;
}

#j3 {
  background-image: url("imgs/interview.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  /*background-position: 10px;*/
  color: white;
}

#j4 {
  background-image: url("imgs/support.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /*background-position-y: -120px;*/
  color: white;
}

#j5 {
  background-image: url("imgs/practice.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /*background-position-y: -120px;*/
  color: white;
}

#j6 {
  background-image: url("imgs/community.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /*background-position-y: -120px;*/
  color: white;
}

#j7 {
  background-image: url("imgs/salary.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /*background-position-y: -200px;*/
  color: white;
}

#career {
  margin-top: 15rem;
}

#main2 {
  margin-top: 5rem;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  background-image: none;
}

.carousel-control-next-icon:after {
  content: ">";
  font-size: 55px;
  color: black;
}

.carousel-control-prev-icon:after {
  content: "<";
  font-size: 55px;
  color: black;
}

.carousel slide {
  /* background-color: #dea807; */
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px #888888;
}

.carousel {
  height: 30rem;
}

.carousel-inner {
  margin: 0 auto;
  width: 50%;
}
.testimonials{
  margin:20%;
}